{{#extends "base"}}
{{#block "content"}}
<div class="container mt-4">
    <h1 class="mb-4">Users and Their Posts</h1>
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>Post Title</th>
                <th>Content</th>
                <th>Created on</th>
            </tr>
        </thead>
        <tbody>
            {{#each posts}}
            <tr>
                <td>{{username}}</td>
                <td>{{email}}</td>
                <td>{{title}}</td>
                <td>{{content}}</td>
                <td>{{created_at}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/block}}
{{/extends}}
