{{#extends "base"}}
{{#block "content"}}

<!-- Simple Home Button Navbar -->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><h2>Home</h2></a>
    </div>
</nav> 

<div class="container mt-4">
    <h1 class="mb-4">Users Database</h1>
    <table class="table table-bordered table-striped table-hover">
        <thead class="table-dark"> 
            <tr>
                <th>User Name</th>
                <th>Email</th>
                <th>Created on</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>{{username}}</td>
                <td>{{email}}</td>
                <td>{{created_at}}</td>
                <td>
                    <div class="btn-group" role="group">
                        <a href="/users/{{user_id}}/edit" class="btn btn-primary btn-sm">Edit</a>
                        <a href="/users/{{user_id}}/delete" class="btn btn-danger btn-sm">Delete</a>
                        
                    </div>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{/block}}
{{/extends}}